!!!
/
  Editorial by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/
    %title= (current_page.data.title || "") + " - Waldlicht"
    = stylesheet_link_tag "site"
    = stylesheet_link_tag "jquery.fancybox"
    = javascript_include_tag "site"
    %script{scr: "https://identity.netlify.com/v1/netlify-identity-widget.js"}
    %link{href: "https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat&display=swap", rel: "stylesheet" }

  %body.is-preload
    / Wrapper
    #wrapper
      / Main
      #main
        .inner
          / Header
          %header#header
            %a.logo{:href => "index.html"}
              %strong Waldlicht
              Waldkindergarten, Klagenfurt
            %ul.icons
            -#   %li
            -#     %a.icon.brands.fa-twitter{:href => "#"}
            -#       %span.label Twitter
              %li
                %a.icon.brands.fa-facebook-f{:href => "https://facebook.com/waldlichtkinder"}
                  %span.label Facebook
            -#   %li
            -#     %a.icon.brands.fa-snapchat-ghost{:href => "#"}
            -#       %span.label Snapchat
            -#   %li
            -#     %a.icon.brands.fa-instagram{:href => "#"}
            -#       %span.label Instagram
            -#   %li
            -#     %a.icon.brands.fa-medium-m{:href => "#"}
            -#       %span.label Medium

          = yield

      / Sidebar
      #sidebar
        .inner
          = partial "partials/sidebar"

    / Scripts
    %script{src: "/javascripts/html5up-editorial/jquery.min.js"}
    %script{src: "/javascripts/html5up-editorial/browser.min.js"}
    %script{src: "/javascripts/html5up-editorial/breakpoints.min.js"}
    %script{src: "/javascripts/html5up-editorial/util.js"}
    %script{src: "/javascripts/html5up-editorial/main.js"}
    = javascript_include_tag "jquery.fancybox"

    :javascript
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }

