/ Search
%section#search.alt
  %form{:action => "#", :method => "post"}
    %input#query{:name => "query", :placeholder => "Search", :type => "text"}/

/ Menu
%nav#menu
  %header.major
    %h2 Menu
  %ul
    %li
      %a{:href => "index.html"} Homepage
    %li
      %a{:href => "generic.html"} Generic
    %li
      %a{:href => "elements.html"} Elements
    %li
      %span.opener Submenu
      %ul
        %li
          %a{:href => "#"} Lorem Dolor
        %li
          %a{:href => "#"} Ipsum Adipiscing
        %li
          %a{:href => "#"} Tempus Magna
        %li
          %a{:href => "#"} Feugiat Veroeros
    %li
      %a{:href => "#"} Etiam Dolore
    %li
      %a{:href => "#"} Adipiscing
    %li
      %span.opener Another Submenu
      %ul
        %li
          %a{:href => "#"} Lorem Dolor
        %li
          %a{:href => "#"} Ipsum Adipiscing
        %li
          %a{:href => "#"} Tempus Magna
        %li
          %a{:href => "#"} Feugiat Veroeros
    %li
      %a{:href => "#"} Maximus Erat
    %li
      %a{:href => "#"} Sapien Mauris
    %li
      %a{:href => "#"} Amet Lacinia
      
/ Section
%section
  %header.major
    %h2 Ante interdum
  .mini-posts
    %article
      %a.image{:href => "#"}
        %img{:alt => "", :src => "images/pic07.jpg"}/
      %p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.
    %article
      %a.image{:href => "#"}
        %img{:alt => "", :src => "images/pic08.jpg"}/
      %p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.
    %article
      %a.image{:href => "#"}
        %img{:alt => "", :src => "images/pic09.jpg"}/
      %p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.
  %ul.actions
    %li
      %a.button{:href => "#"} More

/ Section
%section
  %header.major
    %h2 Get in touch
  %p Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
  %ul.contact
    %li.icon.solid.fa-envelope
      %a{:href => "#"} information@untitled.tld
    %li.icon.solid.fa-phone (000) 000-0000
    %li.icon.solid.fa-home
      1234 Somewhere Road #8254
      %br/
      Nashville, TN 00000-0000

/ Footer
%footer#footer
  %p.copyright © Untitled. All rights reserved.
  %p
    Demo Images:
    = succeed "." do
      %a{:href => "https://unsplash.com"} Unsplash
  %p
    Design:
    = succeed "." do
      %a{:href => "https://html5up.net"} HTML5 UP
  %p
    Site Manager:
    = succeed "." do
      %a{:href => "https://nift.cc"} Nift


-# - toc = current_page.data.toc
-# - if toc
-#   .bd-toc-item
-#     %a.bd-toc-link{href: "#top"}
-#       %i Top
-#   - toc.each do |toc_item|
-#     .bd-toc-item
-#       %a.bd-toc-link{href: "##{toc_item.anchor}"}
-#         = toc_item.name
-#       - if toc_item.sub
-#         %ul.nav.bd-sidenav
-#           - toc_item.sub.each do |sub_item|
-#             %li
-#               %a{href: "##{sub_item.anchor}"}
-#                 = sub_item.name
