---
title: Der Waldkindergarten
---

- top = sitemap.find_resource_by_path('main/01_top.html')
%section#banner
	.content
		%header
			%h1= top.data.title
			-# %p A free and fully responsive site template
		= top.render
		%ul.actions
			%li
				%a.button.big{:href => "#"} PDF-Flyer ansehen
	%span.image.object
		%img{:alt => "", :src => "images/hero.jpg"}

- sitemap.resources.sort {|a, b| a.path <=> b.path}.each do |resource|
	- if resource.path.end_with?('html') && resource.path.start_with?('main/') && !resource.path.end_with?('01_top.html')
		%section
			.content
				%header.major
					%h2{id: resource.page_id}
						= resource.data.title
					- if resource.data.subtitle.length > 0
						%p= resource.data.subtitle
				= resource.render

		-# %li
		-# 	%a.topic{href: resource.path}

/ Section
%section
	.content
		%header.major
			%h2#galerie
				Galerie
			%p Das Natürlichste auf der Welt sind Kinder und Natur

		.row.gtr-200
			.col-6.col-12-medium
				%iframe{width: '100%', style: "min-height: 300px;", src: 'https://www.youtube.com/embed/zdtuZxV-K78', frameborder: 0, allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}

			.col-6.col-12-medium
				%p Mit der Galerie und unserem  Waldlicht-Video erhalten Sie einen kleinen Einblick in den Alltag des Waldkindergartens.

				%p Wir sind zudem auf Facebook aktiv. Dort können Sie aktuelle Bilder und Videos einsehen.
				%p
					%a{href: 'http://facebook.com/waldlichtkinder'} facebook.com/waldlichtkinder

		.row
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img01.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img01.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img02.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img02.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img03.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img03.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img04.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img04.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img05.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img05.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img06.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img06.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img07.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img07.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img08.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img08.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img09.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img09.jpg'}

