---
title: Welcome to Middleman
toc:
  - name: Benötigte Daten
    anchor: data
  - name: Rennimport
    anchor: import
  - name: Meldungsexport
    anchor: export
last_change: 2019-11-01
---

%h1#content.bd-title Download
%p.bd-lead Download Bootstrap to get the compiled CSS and JavaScript, source code, or include it with your favorite package managers like npm, RubyGems, and more.
%script#_carbonads_js{:async => "", :src => "https://cdn.carbonads.com/carbon.js?serve=CKYIKKJL&placement=getbootstrapcom"}
%h2#compiled-css-and-js
  %span.bd-content-title
    Compiled CSS and JS
    %a.anchorjs-link{"aria-label" => "Anchor", "data-anchorjs-icon" => "#", :href => "#compiled-css-and-js", :style => "padding-left: 0.375em;"}
%p
  Download ready-to-use compiled code for
  %strong Bootstrap v4.3.1
  to easily drop into your project, which includes:
%ul
  %li
    Compiled and minified CSS bundles (see
    = succeed ")" do
      %a{:href => "/docs/4.3/getting-started/contents/#css-files"} CSS files comparison
  %li Compiled and minified JavaScript plugins
%p This doesn’t include documentation, source files, or any optional JavaScript dependencies (jQuery and Popper.js).
%p
  %a.btn.btn-bd-primary{:href => "https://github.com/twbs/bootstrap/releases/download/v4.3.1/bootstrap-4.3.1-dist.zip", :onclick => "ga('send', 'event', 'Getting started', 'Download', 'Download Bootstrap');"} Download
%h2#source-files
  %span.bd-content-title
    Source files
    %a.anchorjs-link{"aria-label" => "Anchor", "data-anchorjs-icon" => "#", :href => "#source-files", :style => "padding-left: 0.375em;"}
%p Compile Bootstrap with your own asset pipeline by downloading our source Sass, JavaScript, and documentation files. This option requires some additional tooling:
%ul
  %li Sass compiler (Libsass or Ruby Sass is supported) for compiling your CSS.
  %li
    %a{:href => "https://github.com/postcss/autoprefixer"} Autoprefixer
    for CSS vendor prefixing
%p
  Should you require
  = succeed "," do
    %a{:href => "/docs/4.3/getting-started/build-tools/#tooling-setup"} build tools
%p
  %a.btn.btn-bd-primary{:href => "https://github.com/twbs/bootstrap/archive/v4.3.1.zip", :onclick => "ga('send', 'event', 'Getting started', 'Download', 'Download source');"} Download source
%h2#bootstrapcdn
  %span.bd-content-title
    BootstrapCDN
    %a.anchorjs-link{"aria-label" => "Anchor", "data-anchorjs-icon" => "#", :href => "#bootstrapcdn", :style => "padding-left: 0.375em;"}
%p
  Skip the download with
  %a{:href => "https://www.bootstrapcdn.com/"} BootstrapCDN
  to deliver cached version of Bootstrap’s compiled CSS and JS to your project.
.bd-clipboard
  %button.btn-clipboard{"data-original-title" => "Copy to clipboard", :title => "", :type => "button"} Copy
%figure.highlight
  %pre
    %code.language-html{"data-lang" => "html"}
      %span.nt <link
      %span.na rel=
      %span.s "stylesheet"
      %span.na href=
      %span.s "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      %span.na integrity=
      %span.s "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      %span.na crossorigin=
      %span.s "anonymous"
      %span.nt >
      %span.nt <script
      %span.na src=
      %span.s "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      %span.na integrity=
      %span.s "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      %span.na crossorigin=
      %span.s "anonymous"
      %span.nt ></script>
%p If you’re using our compiled JavaScript, don’t forget to include CDN versions of jQuery and Popper.js before it.
.bd-clipboard
  %button.btn-clipboard{"data-original-title" => "Copy to clipboard", :title => "", :type => "button"} Copy
%figure.highlight
  %pre
    %code.language-html{"data-lang" => "html"}
      %span.nt <script
      %span.na src=
      %span.s "https://code.jquery.com/jquery-3.3.1.slim.min.js"
      %span.na integrity=
      %span.s "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      %span.na crossorigin=
      %span.s "anonymous"
      %span.nt ></script>
      %span.nt <script
      %span.na src=
      %span.s "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      %span.na integrity=
      %span.s "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      %span.na crossorigin=
      %span.s "anonymous"
      %span.nt ></script>
%h2#package-managers
  %span.bd-content-title
    Package managers
    %a.anchorjs-link{"aria-label" => "Anchor", "data-anchorjs-icon" => "#", :href => "#package-managers", :style => "padding-left: 0.375em;"}
%p
  Pull in Bootstrap’s
  %strong source files
  into nearly any project with some of the most popular package managers. No matter the package manager, Bootstrap will
  %strong
    require a Sass compiler and
    %a{:href => "https://github.com/postcss/autoprefixer"} Autoprefixer
  for a setup that matches our official compiled versions.
%h3#npm
  %span.bd-content-title
    npm
    %a.anchorjs-link{"aria-label" => "Anchor", "data-anchorjs-icon" => "#", :href => "#npm", :style => "padding-left: 0.375em;"}
%p
  Install Bootstrap in your Node.js powered apps with
  = succeed ":" do
    %a{:href => "https://www.npmjs.com/package/bootstrap"} the npm package
.bd-clipboard
  %button.btn-clipboard{"data-original-title" => "Copy to clipboard", :title => "", :type => "button"} Copy
%figure.highlight
  %pre
    %code.language-sh{"data-lang" => "sh"}
      npm
      = succeed "bootstrap" do
        %span.nb install
%p
  %code.highlighter-rouge require('bootstrap')
  will load all of Bootstrap’s jQuery plugins onto the jQuery object. The
  %code.highlighter-rouge bootstrap
  module itself does not export anything. You can manually load Bootstrap’s jQuery plugins individually by loading the
  %code.highlighter-rouge /js/*.js
  files under the package’s top-level directory.
%p
  Bootstrap’s
  %code.highlighter-rouge package.json
  contains some additional metadata under the following keys:
%ul
  %li
    %code.highlighter-rouge sass
    \- path to Bootstrap’s main
    %a{:href => "https://sass-lang.com/"} Sass
    source file
  %li
    %code.highlighter-rouge style
    \- path to Bootstrap’s non-minified CSS that’s been precompiled using the default settings (no customization)
%h3#yarn
  %span.bd-content-title
    yarn
    %a.anchorjs-link{"aria-label" => "Anchor", "data-anchorjs-icon" => "#", :href => "#yarn", :style => "padding-left: 0.375em;"}
%p
  Install Bootstrap in your Node.js powered apps with
  = succeed ":" do
    %a{:href => "https://yarnpkg.com/en/package/yarn"} the yarn package
.bd-clipboard
  %button.btn-clipboard{"data-original-title" => "Copy to clipboard", :title => "", :type => "button"} Copy
%figure.highlight
  %pre
    %code.language-sh{"data-lang" => "sh"} yarn add bootstrap
%h3#rubygems
  %span.bd-content-title
    RubyGems
    %a.anchorjs-link{"aria-label" => "Anchor", "data-anchorjs-icon" => "#", :href => "#rubygems", :style => "padding-left: 0.375em;"}
%p
  Install Bootstrap in your Ruby apps using
  %a{:href => "https://bundler.io/"} Bundler
  (
  %strong> recommended
  ) and
  %a{:href => "https://rubygems.org/"} RubyGems
  by adding the following line to your
  = succeed ":" do
    %a{:href => "https://bundler.io/gemfile.html"}
      %code.highlighter-rouge Gemfile
.bd-clipboard
  %button.btn-clipboard{"data-original-title" => "Copy to clipboard", :title => "", :type => "button"} Copy
%figure.highlight
  %pre
    %code.language-ruby{"data-lang" => "ruby"}
      %span.n gem
      %span.s1 'bootstrap'
      %span.p ,
      %span.s1 '~> 4.3.1'
%p Alternatively, if you’re not using Bundler, you can install the gem by running this command:
.bd-clipboard
  %button.btn-clipboard{"data-original-title" => "Copy to clipboard", :title => "", :type => "button"} Copy
%figure.highlight
  %pre
    %code.language-sh{"data-lang" => "sh"}
      gem
      = succeed "bootstrap" do
        %span.nb install
      %span.nt -v
      4.3.1
%p
  %a{:href => "https://github.com/twbs/bootstrap-rubygem/blob/master/README.md"} See the gem’s README
  for further details.
%h3#composer
  %span.bd-content-title
    Composer
    %a.anchorjs-link{"aria-label" => "Anchor", "data-anchorjs-icon" => "#", :href => "#composer", :style => "padding-left: 0.375em;"}
%p
  You can also install and manage Bootstrap’s Sass and JavaScript using
  = succeed ":" do
    %a{:href => "https://getcomposer.org/"} Composer
.bd-clipboard
  %button.btn-clipboard{"data-original-title" => "Copy to clipboard", :title => "", :type => "button"} Copy
%figure.highlight
  %pre
    %code.language-sh{"data-lang" => "sh"} composer require twbs/bootstrap:4.3.1
%h3#nuget
  %span.bd-content-title
    NuGet
    %a.anchorjs-link{"aria-label" => "Anchor", "data-anchorjs-icon" => "#", :href => "#nuget", :style => "padding-left: 0.375em;"}
%p
  If you develop in .NET, you can also install and manage Bootstrap’s
  %a{:href => "https://www.nuget.org/packages/bootstrap/"} CSS
  or
  %a{:href => "https://www.nuget.org/packages/bootstrap.sass/"} Sass
  and JavaScript using
  = succeed ":" do
    %a{:href => "https://www.nuget.org/"} NuGet
.bd-clipboard
  %button.btn-clipboard{"data-original-title" => "Copy to clipboard", :title => "", :type => "button"} Copy
%figure.highlight
  %pre
    %code.language-powershell{"data-lang" => "powershell"} Install-Package bootstrap
.bd-clipboard
  %button.btn-clipboard{"data-original-title" => "Copy to clipboard", :title => "", :type => "button"} Copy
%figure.highlight
  %pre
    %code.language-powershell{"data-lang" => "powershell"} Install-Package bootstrap.sass