---
title: Der Waldkindergarten
---

- resource = sitemap.find_resource_by_path('main/01_top.html')
%section#banner
	.content
		%header
			%h1= resource.data.title
			-# %p A free and fully responsive site template
		= resource.render
		%ul.actions
			%li
				%a.button.big{href: resource.data.leaflet_url} PDF-Flyer ansehen
	%span.image.object
		%img{alt: "", src: resource.data.image}

- resource = sitemap.find_resource_by_path('main/02_philosophie.html')
%section
	.content
		%header.major
			%h2#philosophie
				= resource.data.title
			- if resource.data.subtitle.length > 0
				%p= resource.data.subtitle
		.row
			.col-12-small{class: resource.data.image ? 'col-8' : 'col-12'}
				- if resource.data.bullets && resource.data.bullets.count > 0
					%ul.alt
						- resource.data.bullets.each do |bullet|
							%li= bullet.bullet
			- if resource.data.image
				.col-4.col-12-small
					%img{ src: resource.data.image, width: '100%' }

- resource = sitemap.find_resource_by_path('main/03_tagesablauf.html')
%section
	.content
		%header.major
			%h2#tagesablauf
				= resource.data.title
			- if resource.data.subtitle.length > 0
				%p= resource.data.subtitle
		.row
			.col-12
				- if resource.data.time_slots_header && resource.data.time_slots_header.length > 0
					%h3= resource.data.time_slots_header
				- if resource.data.time_slots && resource.data.time_slots.count > 0
					.table-wrapper
						%table
							%tbody
								- resource.data.time_slots.each do |time_slot|
									%tr
										%td= time_slot.time_frame
										%td= time_slot.description
		.row
			.col-12-small{class: resource.data.image ? 'col-8' : 'col-12'}
				= resource.render
			- if resource.data.image
				.col-4.col-12-small
					%img{ src: resource.data.image, width: '100%' }

- resource = sitemap.find_resource_by_path('main/04_team.html')
%section
	.content
		%header.major
			%h2#team
				= resource.data.title
			- if resource.data.subtitle.length > 0
				%p= resource.data.subtitle
		.row
			.col-12-small{class: resource.data.image ? 'col-8' : 'col-12'}
				= resource.render
				- if resource.data.members && resource.data.members.count > 0
					%dl
						- resource.data.members.each do |member|
							%dt= member.name
							%dd
								%p= member.description
			- if resource.data.image
				.col-4.col-12-small
					%img{ src: resource.data.image, width: '100%' }

- resource = sitemap.find_resource_by_path('main/05_gallery.html')
%section
	.content
		%header.major
			%h2#galerie
				= resource.data.title
			- if resource.data.subtitle.length > 0
				%p= resource.data.subtitle

		.row.gtr-200
			.col-6.col-12-medium
				%iframe{width: '100%', style: "min-height: 300px;", src: resource.data.video_url, frameborder: 0, allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}

			.col-6.col-12-medium
				= resource.render

		.row
			- resource.data.gallery_images.each do |image_url|
				.col-4.col-6-small
					%span.image.fit.gallery
						%a{href: image_url, 'data-fancybox': 'gallery'}
							%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400' + image_url}

- resource = sitemap.find_resource_by_path('main/06_anfahrt.html')
%section
	.content
		%header.major
			%h2#anfahrt
				= resource.data.title
			- if resource.data.subtitle.length > 0
				%p= resource.data.subtitle
		= resource.render
		%iframe{ frameborder: "0", height: "350", marginheight: "0", marginwidth: "0", scrolling: "yes", src: resource.data.iframe_map_url, style: "border: 1px solid black; max-width: 525px;", width: "100%" }
		%br/
		%small
			%a{href: resource.data.link_map_url } Größere Karte anzeigen

-# %section
-# 	.content
-# 		%header.major
-# 			%h2#kontakt
-# 				Kontakt
-# 		%form{"data-netlify" => "true", :method => "POST", :name => "Nachricht"}
-# 			.form-element
-# 				%label
-# 					Name
-# 					%br/
-# 					%input{:name => "name", :type => "text"}/
-# 			.form-element
-# 				%label
-# 					Email
-# 					%br/
-# 					%input{:name => "email", :type => "email"}/
-# 			.form-element
-# 				%label
-# 					Nachricht
-# 					%br/
-# 					%textarea{:name => "message"}
-# 			.form-element
-# 				%button{:type => "submit"} Nachricht senden
